/* ---------> common */
.container {
    padding:15px 0 ;
}

*{
    box-sizing: border-box;
}

@media (max-width:390px){

    #Abrand {
        width:70%;
    }
}

.class2 {

}

/*<--------- common */

/* ---------> header */
.brand {
    height: 100%;
    width: 50%;
}

.adjust-height {
 height: 100%;  
 width: 12.25%; 
}

.intro {
    width: 100%;
    font-size: 14px;
    margin-left: auto;
    column-fill: balance;
}

.intro-child {
    width: 100%;
    text-align: center;
}

/*<--------- header */

/* ---------> main */

/*<--------- main */

/* ---------> footer */

/*<--------- footer */