/* ---------> common */

button:focus {
  outline: 0;
}

body {
  font-family: "Segoe UI", Verdana, "游ゴシック", YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

h2 {
  font-size: 36px;
  line-height: 1.5;
}

body h1,
h2 {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: 500;
}

p,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 2.4;
}

a {
  transition-duration: 0.2s;
}

#top .top-comments p,
#about-us .about-us-comments p,
#about-space .about-space-comments p {
  line-height: 2.6;
}

#shop-info-cards .shop-info-btn-wrapper,
#plans .plans-btn-wrapper {
  text-align: center;
}

#shop-info-cards .shop-info-btn-wrapper a,
#plans .plans-btn-wrapper a {
  display: inline-block;
  padding: 0;
  text-decoration: none;
  border: none;
  width: 200px;
  height: 55px;
  line-height: 55px;
  font-size: 14px;
  color: #fff;
  background-color: #000;
}

#shop-info-cards .shop-info-btn-wrapper a:hover,
#plans .plans-btn-wrapper a:hover {
  background-color: #442602;
}
/*<--------- common */

/* ---------> header */

header .menu,
header .small-item-in-dropdown {
  font-size: 14px;
}

header {
  height: 90px;
  position: absolute;
  z-index: 1000;
  width: 100%;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
}

header .navbar {
  padding: 0;
  height: 90px;
}

header .brand-wrap {
  margin-left: 40px;
}

header .brand-wrap img {
  text-align: center;
  width: 140px;
}

header .navbar-brand {
  padding-bottom: 10px;
}

header .menu {
  width: 80%;
  margin-left: auto;
  height: 90px;
  margin-right: 40px;
}

header .header-item {
  width: 100%;
  color: #fff;
  padding: 34px 0;
}

header .header-item:hover {
  color: #999;
}

header .dropdown-group {
  margin-top: 0;
  padding: 0;
  border: none;
  border-radius: 0;
}

header .small-item-in-dropdown {
  width: 220px;
  color: #fff;
  height: auto;
  padding: 15px 18px;
  background-color: #000;
}

header .small-item-in-dropdown:hover {
  background-color: #442606;
  color: #fff;
}

/*<--------- header */

/* ---------> main */

#top .top-img {
  background-image: url("./images/minion.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top .top-img h1 {
  writing-mode: vertical-rl;
  color: #fff;
}

#top .top-comments {
  padding: 51px 0 79px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
}

#top .top-comments h2 {
  margin-bottom: 10px;
}

#about-us {
  padding: 0;
  margin-top: 100px;
}

#about-us .about-us-imgs {
  display: flex;
}

#about-us .about-us-imgs img {
  width: 25%;
}

#about-us .about-us-comments {
  padding: 51px 20px 49px;
  text-align: center;
  background-color: #f5f5f5;
}

#about-us .about-us-comments h2 {
  color: #442606;
  margin-bottom: 10px;
}

#shop-info-cards {
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
  padding: 0;
}

#shop-info-cards .shop-info {
  border: none;
  overflow: hidden;
  border-radius: 0;
}

#shop-info-cards .shop-info a img {
  border-radius: 0;
}

#shop-info-cards .shop-info-title {
  position: absolute;
  margin-left: 2px;
  font-size: 20px;
  font-weight: 700;
  color: #442602;
}

#shop-info-cards .shop-info-body {
  padding: 30px 30px 40px;
  background-color: #f5f5f5;
}

#shop-info-cards .shop-info::before {
  position: absolute;
  content: "";
  border-style: solid;
  border-width: 150px 150px 0 0;
  border-color: #fff transparent;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}

#shop-info-cards .shop-info-text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 2.4;
}

#news-and-event {
  padding: 55px 0px 60px;
  margin-bottom: 100px;
  background-color: #f5f5f5;
}

#news-and-event .news-link:hover,
#news-and-event .event-link:hover,
#news-and-event .info-more a:hover {
  text-decoration: none;
}

#news-and-event .info-more a:hover {
  color: #999;
}

#news-and-event .info-title {
  margin-bottom: 35px;
  display: flex;
  align-items: center;
}

#news-and-event .info-title h2 {
  font-size: 45px;
  line-height: 1;
  margin: 0;
  font-weight: 500;
}

#news-and-event .info-title span {
  font-size: 16px;
  margin-left: 16px;
}

#news-and-event .news .article-list article,
#news-and-event .event-content {
  border: 1px solid #ddd;
  background: #fff;
}

#news-and-event .event-content {
  border-left: 0;
}

#news-and-event .news .article-list article:not(:nth-of-type(1)),
#news-and-event
  .event
  .article-list
  article:not(:nth-of-type(1))
  .event-content {
  border-top: 0;
}

#news-and-event .news .article-list article {
  padding: 20px;
}

#news-and-event .news-link h3,
#news-and-event .event-content h3 {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

#news-and-event .news-link h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  white-space: nowrap;
  line-height: 1;
}

#news-and-event .news .article-list article a:hover h3 {
  color: #442602;
}

#news-and-event .event-link {
  display: flex;
}

#news-and-event .event-content {
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 25px;
}

#news-and-event .event-content h3 {
  line-height: 1.6;
  margin-bottom: 7px;
}

#news-and-event .event-img {
  width: 207px;
  overflow: hidden;
}

#news-and-event .event-img img,
#about-space .about-space-img img {
  width: 100%;
  transition-duration: 0.5s;
}

#news-and-event .event-link:hover .event-img img,
#about-space .about-space-img:hover img {
  transform: scale(1.2);
}

#news-and-event .news-time,
#news-and-event .event-time {
  display: block;
  color: #999;
  font-size: 12px;
  line-height: 1;
}

#news-and-event .news-time {
  margin-bottom: 10px;
}

#news-and-event .info-more {
  text-align: right;
  margin-top: 30px;
}

#news-and-event .info-more a {
  color: #000;
  font-size: 14px;
}

#news-and-event .info-more a::after {
  margin-left: 12px;
  content: ">";
}

#plans {
  margin-bottom: 100px;
}

#plans .plans-texts {
  text-align: center;
  margin-bottom: 50px;
}

#plans .plans-texts h2 {
  color: #442506;
  margin-bottom: 10px;
}

#plans .wrapper-about-plan {
  margin-bottom: 40px;
}

#plans .about-plan {
  text-align: center;
  border: 0;
  display: flex;
  flex-direction: column;
}

#plans .about-plan:nth-child(2) > ul {
  border: 5px solid #442607;
  border-top: 0;
}

#plans .plan-title {
  background: #a19283;
  color: #fff;
}

#plans .about-plan:nth-child(2) > .plan-title {
  background-color: #442506;
}

#plans .plan-title h5 {
  font-weight: 700;
  margin: 18px 0;
}

#plans .plan-list {
  font-size: 14px;
  border: 1px solid #ddd;
  line-height: 1.4;
  border-top: 0;
}

#plans .card-li-top {
  padding: 24px 0;
  background: #ece9e6;
}

#plans .card-li-top div {
  line-height: 1;
}

#plans .plan-list li:not(.card-li-top) {
  padding: 20px 10px;
}

#plans .about-plan:not(:nth-child(2)) > .plan-list li:last-child {
  padding-bottom: 24px;
}

#plans .plan-price {
  color: #442506;
  margin-bottom: 16px;
  font-family: Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",
    "メイリオ", Meiryo, sans-serif;
  font-size: 40px;
  font-weight: 700;
}

#plans .plan-price::before {
  content: "￥";
  font-size: 20px;
}

#about-space {
  background-image: url("./images/img-about-space-background.jpg");
  padding: 125px 0;
}

#about-space .about-space-comments {
  text-align: center;
  color: #fff;
}

#about-space .about-space-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#about-space .about-space-img {
  width: 400px;
  position: relative;
  overflow: hidden;
  display: block;
  color: #442606;
  margin: 0 15px;
}

#about-space .about-space-img span {
  position: absolute;
  top: 0;
  right: 0;
  width: 170px;
  height: 120px;
  background: #fff;
  font-size: 16px;
  line-height: 120px;
}

#about-space .about-space-img span::after {
  position: absolute;
  content: "";
  top: 0;
  right: 100%;
  border-style: solid;
  border-width: 60px 30px;
  border-color: transparent #fff #fff transparent;
}

footer .contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px auto;
}

footer .footer-logo img {
  width: 145px;
  margin-bottom: 22px;
}

footer .contacts p {
  line-height: 2.2;
  text-align: center;
  margin-bottom: 22px;
}

footer .contacts-svg-wrapper:not(:last-child) {
  margin-right: 12px;
}

footer .contacts-svg-wrapper svg {
  width: 14px;
  height: 14px;
  color: #000;
  transition-duration: 0.2s;
}

footer .contacts-svg-wrapper:hover svg {
  color: #999;
}

footer .footer-menu {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 60px;
  padding: 0;
  margin: 0;
  background: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

footer .footer-menu li {
  list-style: none;
}

footer .footer-menu li + li::before {
  margin: 0 10px;
  content: "|";
}

footer .footer-menu li a {
  color: #000;
  text-decoration: none;
}

footer .footer-menu li a:hover {
  color: #442602;
}

footer .copyright {
  height: 60px;
  color: #fff;
  background-color: #000;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 1199px) {
  #shop-info-cards .shop-info-btn-wrapper a,
  #plans .plans-btn-wrapper a {
    width: 150px;
  }

  #news-and-event .news .article-list article {
    padding: 20px 10px;
  }

  #news-and-event .event-content {
    padding: 0 16px;
  }

  #about-space {
    padding: 50px 40px;
  }
}

@media (max-width: 991px) {
  header .menu,
  header .small-item-in-dropdown {
    font-size: 13px;
  }

  header {
    height: 60px;
    position: inherit;
  }

  nav {
    background-color: #000;
  }

  header .navbar {
    height: 100%;
  }

  header .navbar li {
    background-color: #000;
  }

  header .brand-wrap {
    height: 60px;
    padding: 0;
    line-height: 50px;
    margin-left: 30px;
  }

  header .brand-wrap img {
    width: 110px;
  }

  header .navbar-toggler {
    padding: 0;
    border: none;
  }

  header .header-button {
    width: 50px;
    height: 44px;
  }

  header .header-button .hamburger {
    position: relative;
    padding: 0 11px;
    text-align: center;
  }

  header .hamburger span {
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    left: 4px;
  }

  header .hamburger span:nth-of-type(1) {
    top: 6px;
  }

  header .hamburger span:nth-of-type(2) {
    top: 11px;
  }

  header .hamburger span:nth-of-type(3) {
    bottom: 8px;
  }

  header .menu {
    height: auto;
    margin: 0;
    width: 100%;
  }

  header .menu li {
    padding: 15px 0 15px 30px;
    width: 100%;
    text-align: left;
  }

  header .menu li:nth-child(2) {
    padding: 0 0 0 30px;
  }

  header .header-toggle {
    margin: 15px 0;
  }

  header .header-item:hover {
    color: #fff;
  }

  header .small-item-in-dropdown {
    width: 100%;
    padding-left: 13px;
  }

  header .small-item-in-dropdown:first-child {
    margin-top: 0;
  }

  header .small-item-in-dropdown:hover {
    background-color: #000;
  }

  header .nav-link {
    padding: 0;
  }

  #top .top-img {
    height: 75vh;
    min-height: 600px;
  }

  #top .top-comments {
    padding: 51px 50px 79px;
  }

  #news-and-event .news,
  #news-and-event .event {
    width: inherit;
  }

  #news-and-event .news {
    margin-bottom: 35px;
  }

  #news-and-event .news .article-list article {
    padding: 20px;
  }

  #news-and-event .event {
    margin-bottom: 30px;
  }

  #news-and-event .event-content {
    padding: 0 45px;
  }

  #about-space .about-space-img {
    margin: 0 auto;
  }

  #about-space .about-space-img:last-child {
    margin-top: 24px;
  }

  #about-space .about-space-comments h2 {
    font-size: 28px;
  }

  #about-space .about-space-comments p {
    line-height: 2;
  }

  #about-space {
    padding: 50px 96px;
  }
}

@media (max-width: 767px) {
  h1,
  h2 {
    font-size: 20px;
  }

  p,
  h3 {
    line-height: 2;
  }

  #shop-info-cards .shop-info-btn-wrapper a,
  #plans .plans-btn-wrapper a {
    width: 180px;
    height: 45px;
    line-height: 45px;
    font-size: 12px;
  }

  #top .top-img {
    height: 50vh;
    min-height: 360px;
  }

  #top .top-comments {
    width: 100%;
    padding: 32px 20px;
    margin-bottom: 40px;
  }

  #top .top-comments h2 {
    margin-bottom: 5px;
  }

  #about-us {
    margin-top: 40px;
    padding: 0 20px;
  }

  #about-us .about-us-imgs {
    flex-wrap: wrap;
  }

  #about-us .about-us-imgs img {
    width: 50%;
  }

  #about-us .about-us-comments {
    padding: 36px 25px 33px;
  }

  #about-us .about-us-comments h2 {
    margin-bottom: 6px;
  }

  #shop-info-cards {
    margin-top: 40px;
    padding: 0 20px;
  }

  #shop-info-cards .shop-info {
    width: auto;
    margin-bottom: 20px;
    padding: 0;
  }

  #shop-info-cards .shop-info-title {
    font-size: 18px;
  }

  #shop-info-cards .shop-info-body {
    padding: 18px 25px 25px;
  }

  #shop-info-cards .shop-info-text {
    margin-bottom: 18px;
    line-height: 2;
  }

  #news-and-event {
    margin-bottom: 35px;
    padding: 37px 20px 5px;
  }

  #news-and-event > .container-md {
    padding: 0;
  }

  #news-and-event .info-more {
    margin-top: 14px;
  }

  #news-and-event .info-title {
    margin-bottom: 20px;
  }

  #news-and-event .info-title h2 {
    font-size: 22px;
  }

  #news-and-event .info-title span {
    margin-left: 12px;
    font-size: 14px;
  }

  #news-and-event .news .article-list article {
    padding: 15px 20px 13px;
  }

  #news-and-event .news-time {
    margin-bottom: 6px;
    font-size: 10px;
  }

  #news-and-event .news-link h3,
  #news-and-event .event-link h3 {
    font-size: 14px;
    line-height: 1.8;
    text-overflow: clip;
    white-space: normal;
  }

  #news-and-event .event-content {
    padding: 10px 20px 16px;
    border-left: 1px solid #ddd;
  }

  #news-and-event .event-link h3 {
    margin-bottom: 6px;
  }

  #news-and-event .event-time {
    font-size: 10px;
  }

  #news-and-event .event-img {
    display: none;
  }

  #plans {
    padding: 0 20px;
    margin-bottom: 40px;
  }

  #plans .plans-texts {
    margin-bottom: 33px;
  }

  #plans .plans-texts h2 {
    margin-bottom: 6px;
  }

  #plans .wrapper-about-plan {
    margin: 0;
  }

  #plans .about-plan {
    margin-bottom: 25px;
    padding: 0;
  }

  #plans .plan-title h5 {
    font-size: 16px;
    margin: 14px 0;
  }

  #plans .plan-list .card-li-top {
    padding: 17px 0;
  }

  #plans .plan-list li:not(.card-li-top) {
    padding: 12px 10px;
  }

  #plans .about-plan:not(:nth-child(2)) > .plan-list li:last-child {
    padding: 12px 10px;
  }

  #plans .plan-price {
    margin-bottom: 10px;
    font-size: 36px;
  }

  #about-space {
    padding: 50px 15px;
  }

  #about-space .about-space-img:hover img {
    transform: none;
  }

  #about-space .about-space-comments h2 {
    font-size: 20px;
  }

  footer .contacts {
    margin: 40px auto;
    padding: 0 20px;
  }

  footer .footer-logo img {
    width: 110px;
    margin-bottom: 12px;
  }

  footer .contacts p {
    margin-bottom: 12px;
  }

  footer .footer-menu {
    flex-wrap: wrap;
    padding: 30px 20px;
  }

  footer .footer-menu li {
    width: 50%;
    line-height: 2.4;
  }

  footer .footer-menu li + li::before {
    content: none;
    margin: 0;
  }

  footer .copyright {
    height: 50px;
  }
}

@media (max-width: 575px) {
  #about-space .about-space-img {
    width: 320px;
    padding: 0;
  }

  #about-space .about-space-img img {
    height: 120px;
  }

  #about-space .about-space-img span {
    width: 140px;
  }
}

/*<--------- main */

/* ---------> footer */

/*<--------- footer */
