/* ---------> common */

button:focus {
  outline: 0;
}

body {
  font-family: "Segoe UI", Verdana, "游ゴシック", YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

h2 {
  font-size: 36px;
}

body h1,
h2 {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: 500;
}

/*<--------- common */

/* ---------> header */

header .menu,
header .small-item-in-dropdown {
  font-size: 14px;
}

header {
  height: 90px;
  position: absolute;
  z-index: 1000;
  width: 100%;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
}

header .navbar {
  padding: 0;
  height: 90px;
}

header .brand-wrap {
  margin-left: 40px;
}

header .brand-wrap img {
  text-align: center;
  height: 25px;
  width: 140px;
}

header .navbar-brand {
  padding-bottom: 10px;
}

header .menu {
  width: 80%;
  margin-left: auto;
  height: 90px;
  margin-right: 40px;
}

header .menu li {
  margin: auto;
}

header .header-item {
  width: 100%;
  color: #fff;
  padding: 34px 0;
}

header .header-item:hover {
  color: #999;
}

header .dropdown-group {
  margin-top: 0;
  padding: 0;
  border: none;
  border-radius: 0;
}

header .small-item-in-dropdown {
  width: 220px;
  color: #fff;
  height: auto;
  padding: 15px 18px;
  background-color: #000;
}

header .small-item-in-dropdown:hover {
  background-color: #442606;
  color: #fff;
}

/*<--------- header */

/* ---------> main */

.top {
  background-image: url("./images/minion.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-comment {
  writing-mode: vertical-rl;
  color: #fff;
}

.top-comments {
  padding: 51px 0 79px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.top-comments h2 {
  line-height: 1.5;
  margin-bottom: 10px;
}

.top-comments p {
  font-size: 14px;
  line-height: 2.6;
  margin: 0;
}

/* 今回追加 */
#about-space .about-space-wrapper {
  background-image: url("./images/img-about-space-background.jpg");
  text-align: center;
  padding: 50px 0;
}

#about-space .about-space-comments {
  color: #fff;
}

#about-space .about-space-comments h2 {
  margin-bottom: 10px;
}

#about-space .about-space-imgs {
  display: flex;
  justify-content: center;
  list-style: none;
}

#about-space .about-space-imgs div {
  margin: 0 15px;
}

#about-space .about-space-img {
  width: 400px;
  position: relative;
  overflow: hidden;
  display: block;
  color: #442606;
}

#about-space .about-space-img:hover {
  color: #442602;
}

#about-space .about-space-img span {
  position: absolute;
  top: 0;
  right: 0;
  width: 170px;
  height: 120px;
  background: #fff;
  font-size: 16px;
  line-height: 120px;
}

#about-space .about-space-img:hover img {
  transform: scale(1.2);
}

#about-space .about-space-img img {
  transition-duration: 0.5s;
}

/* 以前のところとhoverの投げれが同じであるはずだから後でまとめて書く。767以下でhover時の行動が無効になるのも忘れずに */

#about-space .about-space-img span::before {
  position: absolute;
  content: "";
  left: -120px;
  border-style: solid;
  border-width: 120px 60px 120px 60px;
  border-color: transparent #fff #fff transparent;
}

/* 今回追加 */

@media (max-width: 991px) {
  header .menu,
  header .small-item-in-dropdown {
    font-size: 13px;
  }

  header {
    height: 60px;
    position: inherit;
  }

  nav {
    background-color: #000;
  }

  header .navbar {
    height: 100%;
  }

  header .navbar li {
    background-color: #000;
  }

  header .brand-wrap {
    height: 60px;
    padding: 0;
    line-height: 50px;
    margin-left: 30px;
  }

  header .brand-wrap img {
    height: 20px;
    width: 110px;
  }

  header .navbar-toggler {
    padding: 0;
    border: none;
  }

  header .header-button {
    width: 50px;
    height: 44px;
  }

  header .header-button .hamburger {
    position: relative;
    padding: 0 11px;
    text-align: center;
  }

  header .hamburger span {
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    left: 4px;
  }

  header .hamburger span:nth-of-type(1) {
    top: 6px;
  }

  header .hamburger span:nth-of-type(2) {
    top: 11px;
  }

  header .hamburger span:nth-of-type(3) {
    bottom: 8px;
  }

  header .menu {
    height: auto;
    margin: 0;
    width: 100%;
  }

  header .menu li {
    padding: 15px 0 15px 30px;
    width: 100%;
    text-align: left;
  }

  header .menu li:nth-child(2) {
    padding: 0 0 0 30px;
  }

  header .header-toggle {
    margin: 15px 0;
  }

  header .header-item:hover {
    color: #fff;
  }

  header .small-item-in-dropdown {
    width: 100%;
    padding-left: 13px;
  }

  header .small-item-in-dropdown:first-child {
    margin-top: 0;
  }

  header .small-item-in-dropdown:hover {
    background-color: #000;
  }

  header .nav-link {
    padding: 0;
  }

  .top {
    height: 75vh;
    min-height: 600px;
  }

  .top-comments {
    padding: 51px 50px 79px;
  }
  /* 今回追加 */

  #about-space .about-space-imgs div {
    margin: 0 auto;
  }

  #about-space .about-space-imgs div:nth-child(2) {
    margin: 24px auto 0;
  }
  /* 今回追加 */
}

@media (max-width: 767px) {
  h1,
  h2 {
    font-size: 20px;
  }

  .top {
    height: 50vh;
    min-height: 360px;
  }

  .top-comments {
    width: 100%;
    padding: 32px 20px;
    margin-bottom: 40px;
  }

  .top-comments h2 {
    line-height: 1.5;
    margin-bottom: 5px;
  }

  .top-comments p {
    line-height: 2;
  }
  /* 今回追加 */

  #about-space .about-space-img:hover img {
    transform: none;
  }

  #about-space .about-space-img img {
    transition: none;
  }

  /* 今回追加 */
}

@media (max-width: 576px) {
  #about-space .about-space-img {
    width: 320px;
    padding: 0;
  }

  #about-space .about-space-img img {
    width: 320px;
    height: 120px;
  }

  #about-space .about-space-img span {
    width: 140px;
  }

  #about-space .about-space-img span::before {
    left: -100px;
    border-width: 100px 50px 100px 50px;
  }
}

/*<--------- main */

/* ---------> footer */

/*<--------- footer */
