/* ---------> common */

button:focus {
  outline: 0;
}

body {
  font-family: "Segoe UI", Verdana, "游ゴシック", YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

h2 {
  font-size: 36px;
  line-height: 1.5;
}

body h1,
h2 {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: 500;
}

p,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 2.6;
}

/*<--------- common */

/* ---------> header */

header .menu,
header .small-item-in-dropdown {
  font-size: 14px;
}

header {
  height: 90px;
  position: absolute;
  z-index: 1000;
  width: 100%;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
}

header .navbar {
  padding: 0;
  height: 90px;
}

header .brand-wrap {
  margin-left: 40px;
}

header .brand-wrap img {
  text-align: center;
  height: 25px;
  width: 140px;
}

header .navbar-brand {
  padding-bottom: 10px;
}

header .menu {
  width: 80%;
  margin-left: auto;
  height: 90px;
  margin-right: 40px;
}

header .menu li {
  margin: auto;
}

header .header-item {
  width: 100%;
  color: #fff;
  padding: 34px 0;
}

header .header-item:hover {
  color: #999;
}

header .dropdown-group {
  margin-top: 0;
  padding: 0;
  border: none;
  border-radius: 0;
}

header .small-item-in-dropdown {
  width: 220px;
  color: #fff;
  height: auto;
  padding: 15px 18px;
  background-color: #000;
}

header .small-item-in-dropdown:hover {
  background-color: #442606;
  color: #fff;
}

/*<--------- header */

/* ---------> main */

#top .top-img {
  background-image: url("./images/minion.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top .top-img h1 {
  writing-mode: vertical-rl;
  color: #fff;
}

#top .top-comments {
  padding: 51px 0 79px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
}

#top .top-comments h2 {
  margin-bottom: 10px;
}

#top .top-comments p {
  margin: 0;
}

#about-us {
  padding: 0;
  margin-top: 100px;
}

#about-us .about-us-imgs {
  display: flex;
}

#about-us .about-us-imgs img {
  width: 25%;
}

#about-us .about-us-comments {
  padding: 51px 20px 49px;
  text-align: center;
  background-color: #f5f5f5;
}

#about-us .about-us-comments h2 {
  color: #442606;
  margin-bottom: 10px;
}

#shop-info-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 0;
}

#shop-info-cards .shop-info {
  border: none;
  overflow: hidden;
}

#shop-info-cards .shop-info a img {
  border-radius: 0;
}

#shop-info-cards .shop-info-title {
  position: absolute;
  margin-left: 2px;
  font-size: 20px;
  font-weight: 700;
  color: #442602;
}

#shop-info-cards .shop-info-body {
  padding: 30px 30px 40px;
  background-color: #f5f5f5;
}

#shop-info-cards .shop-info::before {
  position: absolute;
  content: "";
  border-style: solid;
  border-width: 150px 150px 0 0;
  border-color: #fff transparent;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}

#shop-info-cards .shop-info-btn {
  text-align: center;
}

#shop-info-cards .shop-info-btn a {
  display: inline-block;
  padding: 0;
  text-decoration: none;
  border: none;
  width: 200px;
  height: 55px;
  line-height: 55px;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  transition-duration: 0.2s;
}

#shop-info-cards .shop-info-btn a:hover {
  background-color: #442602;
}

#shop-info-cards .shop-info-text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 2.4;
}

@media (max-width: 991px) {
  header .menu,
  header .small-item-in-dropdown {
    font-size: 13px;
  }

  header {
    height: 60px;
    position: inherit;
  }

  nav {
    background-color: #000;
  }

  header .navbar {
    height: 100%;
  }

  header .navbar li {
    background-color: #000;
  }

  header .brand-wrap {
    height: 60px;
    padding: 0;
    line-height: 50px;
    margin-left: 30px;
  }

  header .brand-wrap img {
    height: 20px;
    width: 110px;
  }

  header .navbar-toggler {
    padding: 0;
    border: none;
  }

  header .header-button {
    width: 50px;
    height: 44px;
  }

  header .header-button .hamburger {
    position: relative;
    padding: 0 11px;
    text-align: center;
  }

  header .hamburger span {
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    left: 4px;
  }

  header .hamburger span:nth-of-type(1) {
    top: 6px;
  }

  header .hamburger span:nth-of-type(2) {
    top: 11px;
  }

  header .hamburger span:nth-of-type(3) {
    bottom: 8px;
  }

  header .menu {
    height: auto;
    margin: 0;
    width: 100%;
  }

  header .menu li {
    padding: 15px 0 15px 30px;
    width: 100%;
    text-align: left;
  }

  header .menu li:nth-child(2) {
    padding: 0 0 0 30px;
  }

  header .header-toggle {
    margin: 15px 0;
  }

  header .header-item:hover {
    color: #fff;
  }

  header .small-item-in-dropdown {
    width: 100%;
    padding-left: 13px;
  }

  header .small-item-in-dropdown:first-child {
    margin-top: 0;
  }

  header .small-item-in-dropdown:hover {
    background-color: #000;
  }

  header .nav-link {
    padding: 0;
  }

  #top .top-img {
    height: 75vh;
    min-height: 600px;
  }

  #top .top-comments {
    padding: 51px 50px 79px;
  }

  #shop-info-cards .shop-info-btn a {
    width: 150px;
  }
}

@media (max-width: 767px) {
  h1,
  h2 {
    font-size: 20px;
  }

  p,
  h3 {
    line-height: 2;
  }

  #top .top-img {
    height: 50vh;
    min-height: 360px;
  }

  #top .top-comments {
    width: 100%;
    padding: 32px 20px;
    margin-bottom: 40px;
  }

  #top .top-comments h2 {
    margin-bottom: 5px;
  }

  #about-us {
    margin-top: 40px;
    padding: 0 20px;
  }

  #about-us .about-us-imgs {
    flex-wrap: wrap;
  }

  #about-us .about-us-imgs img {
    width: 50%;
  }

  #about-us .about-us-comments {
    padding: 36px 25px 33px;
  }

  #about-us .about-us-comments h2 {
    margin-bottom: 6px;
  }

  #shop-info-cards {
    margin-top: 40px;
    padding: 0 20px;
  }

  #shop-info-cards .shop-info {
    width: auto;
    margin-bottom: 20px;
    padding: 0;
  }

  #shop-info-cards .shop-info-title {
    font-size: 18px;
  }

  #shop-info-cards .shop-info-body {
    padding: 18px 25px 25px;
  }

  #shop-info-cards .shop-info-btn a {
    width: 180px;
    height: 45px;
    line-height: 45px;
    font-size: 12px;
  }

  #shop-info-cards .shop-info-text {
    margin-bottom: 18px;
    line-height: 2;
  }
}

/*<--------- main */

/* ---------> footer */

/*<--------- footer */
